# Dependencies
node_modules/

# Environment variables
.env

# Playwright outputs
test-results/
playwright-report/
blob-report/

# Playwright internal
playwright/.cache/
playwright/.auth/

# Optional (good practice)
dist/
coverage/